In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
df = pd.read_csv("../btcNews_Data.csv")

In [3]:
def last_unique_letter(s):
    unique_letters = ''.join(dict.fromkeys(s[::-1]))  # Reverse string and remove duplicates
    return unique_letters[0] if unique_letters else None

In [6]:
# Store the last unique letters in a list
last_unique_letters = [last_unique_letter(entry) for entry in df['vol.']]

In [7]:
# Function to convert 'K' and 'M' to numeric values
def convert_to_numeric(val):
    if isinstance(val, str):
        if 'K' in val:
            return float(val.replace('K', '')) * 1e3
        elif 'M' in val:
            return float(val.replace('M', '')) * 1e6
    return float(val)
# Apply the conversion to the 'vol.' column
df['vol.'] = df['vol.'].apply(convert_to_numeric)

In [8]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')
df = df.set_index('date')
# Remove '%' and convert 'change %' to a numeric column
df['change %'] = df['change %'].str.replace('%', '').astype(float)

In [9]:
df.sample()

,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,top_9,top_10,top_11,top_12,top_13,top_14,top_15,top_16,top_17,top_18,top_19,top_20,top_21,top_22,top_23,top_24,top_25,top_26,top_27,top_28,top_29,top_30,top_31,top_32,top_33,top_34,top_35,price,open,high,low,vol.,change %
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-06-10,circle favors more regulation for bitcoin amp...,latest bitcoin price is 666 77 usd,popular bitcoin investing app keza to relaunch...,why segregated witness will not decrease the m...,hashmining eu cloud mining allows anyone to mi...,iranian government preparing for bitcoin use i...,south korea ends anonymous cryptocurrency trad...,bitcoin s current exchange rate is 7400 01 usd...,localbitcoins updates tos some situations ma...,russians to mine bitcoin close to a nato exerc...,want to develop bitcoin cash apps has you c...,british artist sells entire collection for cry...,report claims central banks are cautious about...,speculators also refer to a unique metaphor c...,timecoin tmcn offers new defi and nft opport...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,577.9,574.7,579.3,571.1,45500.0,0.56

In [10]:
df.columns

Index(['top_0', 'top_1', 'top_2', 'top_3', 'top_4', 'top_5', 'top_6', 'top_7',
       'top_8', 'top_9', 'top_10', 'top_11', 'top_12', 'top_13', 'top_14',
       'top_15', 'top_16', 'top_17', 'top_18', 'top_19', 'top_20', 'top_21',
       'top_22', 'top_23', 'top_24', 'top_25', 'top_26', 'top_27', 'top_28',
       'top_29', 'top_30', 'top_31', 'top_32', 'top_33', 'top_34', 'top_35',
       'price', 'open', 'high', 'low', 'vol.', 'change %'],
      dtype='object')

In [12]:
df.dtypes

top_0        object
top_1        object
top_2        object
top_3        object
top_4        object
top_5        object
top_6        object
top_7        object
top_8        object
top_9        object
top_10       object
top_11       object
top_12       object
top_13       object
top_14       object
top_15       object
top_16       object
top_17       object
top_18       object
top_19       object
top_20       object
top_21       object
top_22       object
top_23       object
top_24       object
top_25       object
top_26       object
top_27       object
top_28       object
top_29       object
top_30       object
top_31       object
top_32       object
top_33       object
top_34       object
top_35       object
price       float64
open        float64
high        float64
low         float64
vol.        float64
change %    float64
dtype: object

In [13]:
non_numeric_columns = df.select_dtypes(exclude=['number']).columns
non_numeric_columns

Index(['top_0', 'top_1', 'top_2', 'top_3', 'top_4', 'top_5', 'top_6', 'top_7',
       'top_8', 'top_9', 'top_10', 'top_11', 'top_12', 'top_13', 'top_14',
       'top_15', 'top_16', 'top_17', 'top_18', 'top_19', 'top_20', 'top_21',
       'top_22', 'top_23', 'top_24', 'top_25', 'top_26', 'top_27', 'top_28',
       'top_29', 'top_30', 'top_31', 'top_32', 'top_33', 'top_34', 'top_35'],
      dtype='object')

In [14]:
df_s = df[['top_0', 'top_1', 'top_2', 'top_3', 'top_4', 'top_5', 'top_6', 'top_7',
       'top_8', 'top_9', 'top_10', 'top_11', 'top_12', 'top_13', 'top_14',
       'top_15', 'top_16', 'top_17', 'top_18', 'top_19', 'top_20', 'top_21',
       'top_22', 'top_23', 'top_24', 'top_25', 'top_26', 'top_27', 'top_28',
       'top_29', 'top_30', 'top_31', 'top_32', 'top_33', 'top_34', 'top_35']]

In [15]:
df_s.sample()

,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,top_9,top_10,top_11,top_12,top_13,top_14,top_15,top_16,top_17,top_18,top_19,top_20,top_21,top_22,top_23,top_24,top_25,top_26,top_27,top_28,top_29,top_30,top_31,top_32,top_33,top_34,top_35
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-05-08,popular hedge fund manager paul tudor jones ...,eidoo to burn 80 of company s token holdings ...,andreas antonopoulos hex team offered me 10 b...,users can load their rakuten app with crypto ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_s.isna().sum()

top_0        0
top_1       27
top_2       99
top_3      297
top_4      517
top_5      764
top_6      990
top_7     1166
top_8     1304
top_9     1404
top_10    1476
top_11    1559
top_12    1644
top_13    1712
top_14    1779
top_15    1842
top_16    1877
top_17    1917
top_18    1949
top_19    1980
top_20    2003
top_21    2036
top_22    2064
top_23    2080
top_24    2093
top_25    2108
top_26    2118
top_27    2124
top_28    2127
top_29    2130
top_30    2134
top_31    2135
top_32    2135
top_33    2141
top_34    2143
top_35    2145
dtype: int64

In [34]:
# Define a function to preprocess comments by converting them to lowercase and removing punctuation
import string

def preprocessing(comment):
    # Check if the input is a string and not null
    if isinstance(comment, str):
        # Convert comment to lowercase
        comment_lower = comment.lower()
        # Remove punctuation from the lowercase comment
        comment_no_punc = comment_lower.translate(str.maketrans("", "", string.punctuation))
        # Return preprocessed comment
        return comment_no_punc
    elif pd.isnull(comment):
        # If the value is null (None or NaN), return an empty string or handle as needed
        return ""
    else:
        # If it's not a string but also not null, return the value unchanged
        return comment

In [17]:
# import stopwords
from nltk.corpus import stopwords
stopwords_list = stopwords.words('english')

In [44]:
# Importing necessary module
import nltk
from nltk.corpus import wordnet

# Defining function to get the WordNet POS tag for lemmatization
def get_wordnet_pos(word):
    # Getting the POS tag using NLTK's pos_tag function
    tag = nltk.pos_tag([word])[0][1][0].upper()
    # Creating a dictionary to map NLTK's POS tags to WordNet's POS tags
    tag_dict = {"J": wordnet.ADJ,  # Adjective
                "N": wordnet.NOUN,  # Noun
                "V": wordnet.VERB,  # Verb
                "R": wordnet.ADV}   # Adverb
    
    # Returning the corresponding WordNet POS tag, defaulting to NOUN if not found
    return tag_dict.get(tag, wordnet.NOUN)

# Creating a WordNet Lemmatizer object
lemmatizer = nltk.stem.WordNetLemmatizer()

# Defining function to lemmatize a sentence
def get_lemmatize(sentence):        
    # Lemmatizing each word in the sentence using the appropriate WordNet POS tag
    return " ".join([lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in sentence])

In [ ]:
# # Define a function for complete preprocessing of the DataFrame
# def complete_preprocessing(df):
#     # Make a copy of the DataFrame to avoid modifying the original DataFrame
#     df_copy = df.copy()
    
#     # Apply preprocessing function to the last column of the DataFrame
#     df_copy.iloc[:, -1] = df_copy.iloc[:, -1].apply(preprocessing)
    
#     # Split each sentence into words and create a new column 'word_split'
#     df_copy['word_split'] = df_copy.iloc[:, -1].str.split(' ')
    
#     # Remove stopwords from each sentence and create a new column 'stopwords_removed'
#     df_copy['stopwords_removed'] = df_copy.iloc[:, -1].apply(lambda sentence: [word for word in sentence if word not in stopwords_list])
    
#     # Lemmatize each sentence and create a new column 'lemmatized'
#     df_copy['lemmatized'] = df_copy.iloc[:, -1].apply(get_lemmatize)
    
#     # Return the preprocessed DataFrame
#     return df_copy

In [32]:
df_copy = df_s.copy()

In [31]:
df_s.dtypes

top_0     object
top_1     object
top_2     object
top_3     object
top_4     object
top_5     object
top_6     object
top_7     object
top_8     object
top_9     object
top_10    object
top_11    object
top_12    object
top_13    object
top_14    object
top_15    object
top_16    object
top_17    object
top_18    object
top_19    object
top_20    object
top_21    object
top_22    object
top_23    object
top_24    object
top_25    object
top_26    object
top_27    object
top_28    object
top_29    object
top_30    object
top_31    object
top_32    object
top_33    object
top_34    object
top_35    object
dtype: object

In [35]:
df_copy = df_copy.applymap(preprocessing)

In [36]:
df_copy.sample()

,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,top_9,top_10,top_11,top_12,top_13,top_14,top_15,top_16,top_17,top_18,top_19,top_20,top_21,top_22,top_23,top_24,top_25,top_26,top_27,top_28,top_29,top_30,top_31,top_32,top_33,top_34,top_35
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-10-30,bitfilm festival 2015 vote for your favorite ...,microsoft launches new cloud based blockchain ...,bitfury unveils fastest bitcoin mining chip ev...,central banks put the trust back in trustless,joe rogan is as excited about bitcoin as ever,get ready for 2017 these legal precedents on...,monaco visa raises 3m in 3 days announces in...,it is important to note that this is not a re...,bitcoin s current exchange rate is 4300 12 usd...,bitcoin s current exchange rate is 5753 01 usd...,one site tons of bitcoin tools a price conv...,americans are taking out mortgages to buy bitc...,bitcoin s current exchange rate is 16169 68 us...,12 reasons bitcoin cash is the real bitcoin ...,66 of funding to stop the ai apocalypse comes...,coinbase,chinese investors use wechat brokers to bypass...,people like you can use blockchain tech everyd...,blackrock the world s largest asset manager w...,cultural innovation deserves a customized can...,facebook backed diem has updated its launch p...,haruhiko kuroda may be speaking out against b...,,,,,,,,,,,,,,

In [37]:
df_copy = df_copy.applymap(lambda x: x.split(' ') if isinstance(x, str) else x)

In [38]:
df_copy.sample()

,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,top_9,top_10,top_11,top_12,top_13,top_14,top_15,top_16,top_17,top_18,top_19,top_20,top_21,top_22,top_23,top_24,top_25,top_26,top_27,top_28,top_29,top_30,top_31,top_32,top_33,top_34,top_35
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-02-13,"[surfing, astronomy, s, gravitational, waves, ...","[core, developer, unveils, , successful, , zer...","[looting, of, the, fox, , the, story, of, sabo...","[visa, invites, lenders, to, test, blockchain,...","[markets, update, , upward, trends, as, all, e...","[burger, king, russia, franchise, plans, to, a...","[pr, , etherparty, beta, goes, live, with, thr...","[danish, woman, arrested, after, allegedly, pa...","[cboe, bitcoin, contracts, slide, 36, percent,...","[independent, ratings, agency, alerts, investo...","[the, curious, case, of, , cobra, bitcoin, , ,...","[pr, , lavenir, , the, cryptocurrency, lending...","[bitcoin, cash, adoption, continues, , crypto,...","[despite, court, order, tokyo, exchange, says,...","[only, five, bitcoin, mining, devices, release...","[the, price, of, , polkadot, s, dot, tokens, h...","[, i, m, very, , very, excited, about, that, a...","[the, city, of, williston, in, the, u, s, , st...",[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]

In [39]:
df_copy = df_copy.applymap(lambda sentence: [word for word in sentence if isinstance(sentence, list) and word not in stopwords_list])

In [40]:
df_copy.sample()

,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,top_9,top_10,top_11,top_12,top_13,top_14,top_15,top_16,top_17,top_18,top_19,top_20,top_21,top_22,top_23,top_24,top_25,top_26,top_27,top_28,top_29,top_30,top_31,top_32,top_33,top_34,top_35
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-06-09,"[south, korea, mulls, cash, state, owned, cryp...","[markets, update, , cryptocurrency, prices, cr...","[simple, ledger, token, creation, platform, la...","[singaporean, eastern, european, p2p, markets,...","[plans, build, , 50m, bitcoin, cash, tech, par...","[crypto, card, issuer, wirecard, missing, , 2,...","[, widespread, , bitcoin, becoming, mainstream...",[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]

In [45]:
df_copy = df_copy.applymap(lambda sentence: get_lemmatize(sentence) if isinstance(sentence, list) else sentence)

In [46]:
df_copy.sample()

,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,top_9,top_10,top_11,top_12,top_13,top_14,top_15,top_16,top_17,top_18,top_19,top_20,top_21,top_22,top_23,top_24,top_25,top_26,top_27,top_28,top_29,top_30,top_31,top_32,top_33,top_34,top_35
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-05-09,devon brewer rediscover golden rule,india crypto trading volume soar amid economic...,4 south korea large bank provide cryptocurrenc...,lucky player bag two epic win within minute,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
# Create the TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1, 2))

In [ ]:
# # Define a function for complete preprocessing of the DataFrame
# def complete_preprocessing(df):
#     # Make a copy of the DataFrame to avoid modifying the original DataFrame
#     df_copy = df.copy()
    
#     # Apply preprocessing function to the last column of the DataFrame
#     df_copy.iloc[:, -1] = df_copy.iloc[:, -1].apply(preprocessing)
    
#     # Split each sentence into words and create a new column 'word_split'
#     df_copy['word_split'] = df_copy.iloc[:, -1].str.split(' ')
    
#     # Remove stopwords from each sentence and create a new column 'stopwords_removed'
#     df_copy['stopwords_removed'] = df_copy.iloc[:, -1].apply(lambda sentence: [word for word in sentence if word not in stopwords_list])
    
#     # Lemmatize each sentence and create a new column 'lemmatized'
#     df_copy['lemmatized'] = df_copy.iloc[:, -1].apply(get_lemmatize)
    
#     # Return the preprocessed DataFrame
#     return df_copy